/* line 17, C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Program Files (x86)/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/test.scss */
nav, #main_section, #right_section {
  background: red;
}

/* line 14, ../sass/test.scss */
body {
  background: dodgerblue;
  width: 90%;
  margin: 0 auto;
  font-family: arial, sans-serif;
}

/* line 44, ../sass/test.scss */
a {
  display: block;
  text-decoration: none;
  width: 50px;
  padding: 5px;
}
/* line 49, ../sass/test.scss */
a:link {
  color: yellow;
}
/* line 52, ../sass/test.scss */
a:visited {
  color: darkblue;
}
/* line 55, ../sass/test.scss */
a:hover {
  background: yellow;
  color: saddlebrown;
}
/* line 59, ../sass/test.scss */
a:active {
  color: blue;
}

/* line 64, ../sass/test.scss */
h1 {
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  padding: 5px 0;
  margin: 5px 0;
  background: lightblue;
}

/* line 68, ../sass/test.scss */
h2 {
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  padding: 5px 0;
  margin: 5px 0;
  background: lightblue;
  font-size: 1.5em;
}

/* line 73, ../sass/test.scss */
ul {
  margin-left: 20px;
}

/* line 77, ../sass/test.scss */
li {
  margin-left: 10px;
  padding: 3px 0;
}

/* line 81, ../sass/test.scss */
p {
  margin: 5px;
  padding: 5px;
}

/* line 85, ../sass/test.scss */
.left {
  float: left;
}

/* Total width of nav + main_section + right_section = width of body (which is 90%) */
/* line 90, ../sass/test.scss */
nav {
  width: 20%;
}

/* line 94, ../sass/test.scss */
#main_section {
  width: 50%;
}

/* line 98, ../sass/test.scss */
#right_section {
  width: 30%;
}

/* line 102, ../sass/test.scss */
footer {
  margin-top: 10px;
}

/* line 107, ../sass/test.scss */
.clearfix:before {
  content: "";
  display: table;
  clear: both;
}
